<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Alunos</title>
  </head>
  <body>
    <h1>Alunos</h1>

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Nota</th>
      </tr>
      {% for aluno in alunos %}
      <tr>
        <td>{{ aluno.id }}</td>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.nota }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>Adicionar Aluno</h2>
    <form action="/adicionar" method="post">
      Nome: <input type="text" name="nome">
      Nota: <input type="text" name="idade">
      Telefone: <input type="text" name="telefone">
      <button type="submit">Cadastrar aluno</button>
    </form>
  </body>
</html>